.comments-container{
    
}

.comment-especifico{
    margin: 1rem 0 0;
    padding: 5px;
    background: $light-slate;
    border-radius: 15px;
    border: 1px $cream solid;
}

.comment-user{
    font-weight: 700;
    color: $charcoal;
}

.comment-date{
    color: $gray;
}

.comment-corpo{

}