{% load static %}

<header class='header'>
    <nav class='header-nav'>
      <a class='header-nav-link' href="{% url 'home' %}">Home</a>
      <a class='header-nav-link' href="{% url 'autores' %}">Autores</a>
      <a class='header-nav-link' href="#">Sobre</a>
      <a class='header-nav-link' href="#">Contato</a>
      {% if user.is_authenticated %}
      <a class='header-nav-link' href="{% url 'users:gerenciar_conta' %}">Gerenciar Conta</a>
      <a class='header-nav-link' href="{% url 'users:logout' %}">Logout</a>
      {% else %}
      <a class='header-nav-link' href="{% url 'users:criar_conta' %}">Criar Uma Conta</a>
      <a class='header-nav-link' href="{% url 'users:login' %}">Login</a>
      {% endif %}
    </nav>
    <div class='header-title'>
      <h1>Django Blog</h1>
    </div>
  </header>